@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    padding:0%;
    margin:0%;
    font-family: 'Roboto-slab', serif;
    box-sizing:border-box;
   
}

.about{
    width:100%;
    padding: 78px 0px;
  background-color:#643209 ;
  background-image:url(../pROJ/abbmg.png);   

}

.about img{
    size: 200%;
    height:700px;
    width: 380px;
    display: inline-block;
    margin: 25px 50px;

}

.about text{
    width: 550px;

}

.main{
    width:1130px;
    max-width: 95%;
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.about-text h1{
    color: rgb(179, 207, 208);
    font-size:80px;
    text-transform: capitalize;
    margin-bottom: 20px;
     font-family: 'Helvetica Neue', sans-serif; 
      font-weight: bold;
         letter-spacing: -1px;
         line-height: 1;
          text-align: center; }



.about-text h5{
    color: rgb(179, 207, 208);
    font-size:25px;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 2px;
    text-align: center;

}

.about-text p{
    color: white;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom:45px;
   
}

button{
    align-items: right;
    background-color:#3f9cc1;
    color:white;
    text-decoration:none;
    border:2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}

button:hover{
    background: transparent;
    border:2px solid #3f9cc1;
    cursor: pointer;
}

